<mat-card class="profile mat-elevation-z3">
  <mat-card-title class="title">Olá, {{ player.name }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="myForm">
      <mat-form-field class="form-field">
        <mat-label>Nome</mat-label>
        <input formControlName="nameFormControl" matInput type="text" minLength="3" placeholder="nome"
          [(ngModel)]="player.name" required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Sobrenome</mat-label>
        <input formControlName="lastNameFormControl" matInput type="text" placeholder="sobrenome"
          [(ngModel)]="player.lastName">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>E-mail</mat-label>
        <input formControlName="emailFormControl" matInput type="text" placeholder="e-mail" [(ngModel)]="player.email"
          required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Senha</mat-label>
        <input formControlName="passwordFormControl" matInput type="password" placeholder="senha"
          [(ngModel)]="player.password">
      </mat-form-field>
    </form>

    <div class="buttons">
      <button mat-flat-button (click)="save($event)" color="primary">
        <i class="material-icons">
          arrow_forward_ios
        </i>
        Salvar
      </button>
    </div>
  </mat-card-content>
</mat-card>
