<div class="main">
  <div class="news">
    <mat-card class="mat-elevation-z6">
      <mat-card-title class="title">Bem vindo!</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Fique por dentro do que acontece no CdZ Ultimate
      </mat-card-subtitle>
      <mat-card-content>
        <p>
          Venha fazer parte dessa nova aventura no mundo de Saint Seiya!
          Entendemos todo o transtorno passado por servidores antigos e por uma má administração e falcatruas, mas a
          equipe
          Ultimate e você temos a chance de fazer algo diferente... sim, você não entendeu errado, juntos podemos mudar
          e
          construir uma nova era para esse game!
        </p>
        <p>
          Iremos contar com assistência total aos tickets de jogadores, chats no Discord e se necessário call para
          auxílio
          e
          votações, contaremos também com eventos mais participativos com foco no PvP do game com igualdade e somente
          quem
          possuir técnica será o vitorioso!!! Contamos também com um canal no YouTube que nos deixará por dentro de toda
          e qualquer novidade ou sorteio in-game!
        </p>
        <p>
          Possuímos também um discord oficial para nosso servidor a onde a maior parte das dúvidas são resolvidas e
          encontro
          de players para eventos é garantido!
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="home mat-elevation-z3">
      <mat-card-title class="title">Canal oficial no YouTube de comunicação a respeito do CdZ Ultimate!</mat-card-title>
      <mat-card-subtitle class="subtitle">
        CdZ Ultimate no YouTube
      </mat-card-subtitle>
      <mat-card-content>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/llaIuy41J0s" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
          
          <p>Fique por dentro do que acontece no universo Ultimate através dos comunicados em vídeo, clicando <a href="https://www.youtube.com/channel/UCS4DIPHYdQhYUp8gmM5Q2CQ">aqui</a>.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- <div class="links">
    <iframe src="https://discord.com/widget?id=771026131377061888&theme=dark" width="350" height="400" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </div> -->
</div>
