mat-card {
    background-color: #222831;
}

mat-card-subtitle {
    color: #e8e8e8;
}

mat-card-content > p {
 margin-top: 15px;
}

.news {
    display: flex;
    flex-direction: column;
}

carousel {
    margin: 30px 10px 20px 10px;
    align-self: center;
}