.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8e8e8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login .title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 1.85rem;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.login form input {
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 300;
    font-size: 1.1rem;
    border-radius: 5px;
}

.login .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0px;
}

.login .buttons button {
    margin: 10px 0px 0px 0px;
    width: 100%;
    color: #f05454;
    background-color: #30475e;
}

.login .register {
    font-weight: 25;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

.login .register a {
    text-decoration: none;
}

.login .register a:hover {
    text-decoration: underline;
    color: #f05454;
}

.login .redirections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}