myForm {
    color: #e8e8e8;
}

.login-form {
    display: flex;
    align-items: center;
}

.emailForm {
    margin-right: 15px;
}

.buttons button {
    margin-left: 15px;
    background-color: #f05454;
    color: #e8e8e8;
}