<div class="login-form">
    <div *ngIf="notLogged; else logged">
        <a mat-list-item>
            <form [formGroup]="myForm">
                <mat-form-field class="nameForm">
                    <input formControlName="nameFormControl" matInput type="text" placeholder="usuário"
                        [(ngModel)]="player.name" (keyup)="keyUp($event)" maxlength="10" required>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="passwordFormControl" matInput type="password" placeholder="senha"
                        [(ngModel)]="player.passwd" (keyup)="keyUp($event)" maxlength="10" required>
                </mat-form-field>
            </form>

            <div class="buttons">
                <button (click)="login()" mat-flat-button color="accent">
                    Log in
                </button>
                <button (click)="register()" mat-flat-button color="accent">
                    Registre-se
                </button>
            </div>
        </a>
    </div>
    <ng-template #logged>
        <div>
            <div class="profile">
                <a mat-list-item routerLink="/profile">
                    Perfil
                </a>
            </div>
            <div class="logout" (click)="logout()">
                <a mat-list-item>
                    Sair
                </a>
            </div>
        </div>
    </ng-template>
</div>