.parallax {
    /* The image used */
    background-image: url('../../../../assets/logobase.jpg');
    /* Set a specific height */
    height: 65%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.logo {
    max-height: 60px;
    width: 120px;
}

mat-toolbar {
    background-color: #222831;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    max-width: 1200px;
    margin: 0 auto;
}

mat-nav-list {
    display: flex;
    justify-content: space-between;
}

mat-nav-list a {
    text-decoration: none;
    color: #f05454;
    vertical-align: auto;
}

mat-nav-list a:hover {
    color: #e8e8e8;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}