.parallax {
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/c6/3a/f9/c63af9191b8ec711be9166901bf0f2ba.jpg");

    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
}

.header .logo {
  max-height: 32px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group .login {
    margin-right: 20px;
}

.header .title-group i {
  padding-right: 5px;
}

.header .invisible {
  visibility: hidden;
}