<div class="parallax"></div>
<mat-toolbar class="mat-elevation-z5">
    <mat-nav-list>
        <a mat-list-item routerLink="/">
            <img class="logo" src="../../../../assets/logobutton.png" alt="logo">
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">
        home
      </i> Início
        </a>
        <a mat-list-item routerLink="/team">
            <i class="material-icons">
        people
      </i> Equipe
        </a>
        <a mat-list-item routerLink="/download">
            <i class="material-icons">
        download
      </i> Download
        </a>
        <a mat-list-item routerLink="/rules">
            <i class="material-icons">
        list
      </i> Regras
        </a>
        <a mat-list-item>
            <app-login></app-login>
        </a>
    </mat-nav-list>
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>