<div class="parallax"></div>
<mat-toolbar class="header mat-elevation-z4">
  <div>
    <span>
      <a routerLink="/">
        <img class="logo" src="../../../../assets/logobutton.png" alt="logo">
      </a>
    </span>
    <span class="title-group">
      <a routerLink="{{ routeUrl }}">
        <i class="material-icons">
          {{ icon }}
        </i>
        {{ title }}
      </a>
    </span>
  </div>
  <span *ngIf="isLogged; else notLogged" class="title-group">
    <span class="title-group">
      <a routerLink="/profile" class="last profile">
        <button mat-icon-button color="primary">
          <i class="material-icons">
            settings
          </i>
        </button>
      </a>
    </span>
  </span>
  <!-- <span *ngIf="isLogged" class="title-group">
    <a routerLink="/profile" class="last profile">
      <button mat-icon-button color="primary">
        <i class="material-icons">
          settings
        </i>
      </button>
    </a>
  </span> -->

  <ng-template #notLogged>
    <span class="title-group">
      <a routerLink="/login" class="last">
        <i class="material-icons">
          login
        </i>
        Login
      </a>
    </span>
  </ng-template>
</mat-toolbar>
