.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
}

.header .logo {
  max-height: 32px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group .login {
    margin-right: 20px;
}

.header .title-group i {
  padding-right: 5px;
}

.header .invisible {
  visibility: hidden;
}