<div class="parallax"></div>
<mat-toolbar class="mat-elevation-z5">
    <mat-nav-list>
        <a mat-list-item routerLink="/">
            <img class="logo" src="../../../../assets/logobutton.png" alt="logo">
        </a>
        <a mat-list-item routerLink="/">
            Início
        </a>
        <a mat-list-item routerLink="/team">
            Equipe
        </a>
        <a mat-list-item routerLink="/download">
            Download
        </a>
        <!-- <a mat-list-item routerLink="/cash">
            Cash
        </a> -->
        <a mat-list-item routerLink="/rules">
            Regras
        </a>
        <a>
            <app-login></app-login>
        </a>
    </mat-nav-list>
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>