.sidenav {
    background-color: #222831;
    width: 200px;
}

.sidenav a {
    color: #f05454;
}

.sidenav a:hover {
    background-color: #e8e8e8;
    color: #222831;
}

.sidenav i {
    padding-right: 10px;
}