<mat-card class="register mat-elevation-z3">
  <mat-card-title class="title">Registre-se</mat-card-title>
  <mat-card-content>
    <form [formGroup]="myForm">
      <mat-form-field class="form-field">
        <mat-label>Usuário</mat-label>
        <input formControlName="nameFormControl" matInput type="text" minLength="4" maxlength="10" placeholder="nome"
          [(ngModel)]="player.name" (keydown)="alphanumeric($event)" required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>E-mail</mat-label>
        <input formControlName="emailFormControl" matInput type="text" maxlength="64" placeholder="e-mail"
          [(ngModel)]="player.email" required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Senha</mat-label>
        <input formControlName="passwordFormControl" matInput type="password" minlength="4" maxlength="10" placeholder="senha"
          [(ngModel)]="player.passwd" (keydown)="alphanumeric($event)" required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Confirmar Senha</mat-label>
        <input formControlName="confirmPasswordFormControl" matInput type="password" minlength="4" maxlength="10"
          placeholder="confirmar senha" [(ngModel)]="confirmPassword" (keydown)="alphanumeric($event)" required>
      </mat-form-field>

      <div class="checkbox">
        <input type="checkbox" name="termos" (change)="termosDisabled = !termosDisabled">
        <label for="termos"><a href="/rules">Concordo com as regras e termos de serviço</a></label>
      </div>
    </form>

    <div class="buttons">
      <button mat-flat-button (click)="createAccount($event)" color="primary" [disabled]="termosDisabled">
        Salvar
      </button>

      <button class="cancel" mat-flat-button (click)="cancel($event)" color="accent">
        Cancelar
      </button>
    </div>
  </mat-card-content>
</mat-card>