<div class="team header">
  <mat-card class="team mat-elevation-z3">
    <mat-card-title class="title">Equipe CdZ Ultimate</mat-card-title>
    <mat-card-subtitle class="subtitle">
      Conheça a equipe que, junto com todos vocês, fazem o servidor funcionar!
    </mat-card-subtitle>
  </mat-card>

  <div class="list">
    <mat-card class="team mat-elevation-z3">
      <mat-card-title class="title">cheq</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Programador
      </mat-card-subtitle>
      <img mat-card-image
        src="https://cdn.discordapp.com/avatars/339273010999459842/13c37ccc73565b8850c8c40263f44042.webp" alt="avatar">
      <mat-card-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </mat-card-content>
    </mat-card>

    <mat-card class="team mat-elevation-z3">
      <mat-card-title class="title">cheq</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Programador
      </mat-card-subtitle>
      <img mat-card-image
        src="https://cdn.discordapp.com/avatars/339273010999459842/13c37ccc73565b8850c8c40263f44042.webp" alt="avatar">
      <mat-card-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </mat-card-content>
    </mat-card>

    <mat-card class="team mat-elevation-z3">
      <mat-card-title class="title">cheq</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Programador
      </mat-card-subtitle>
      <img mat-card-image
        src="https://cdn.discordapp.com/avatars/339273010999459842/13c37ccc73565b8850c8c40263f44042.webp" alt="avatar">
      <mat-card-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </mat-card-content>
    </mat-card>

    <mat-card class="team mat-elevation-z3">
      <mat-card-title class="title">cheq</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Programador
      </mat-card-subtitle>
      <img mat-card-image
        src="https://cdn.discordapp.com/avatars/339273010999459842/13c37ccc73565b8850c8c40263f44042.webp" alt="avatar">
      <mat-card-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </mat-card-content>
    </mat-card>

    <mat-card class="team mat-elevation-z3">
      <mat-card-title class="title">cheq</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Programador
      </mat-card-subtitle>
      <img mat-card-image
        src="https://cdn.discordapp.com/avatars/339273010999459842/13c37ccc73565b8850c8c40263f44042.webp" alt="avatar">
      <mat-card-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </mat-card-content>
    </mat-card>

    <mat-card class="team mat-elevation-z3">
      <mat-card-title class="title">cheq</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Programador
      </mat-card-subtitle>
      <img mat-card-image
        src="https://cdn.discordapp.com/avatars/339273010999459842/13c37ccc73565b8850c8c40263f44042.webp" alt="avatar">
      <mat-card-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </mat-card-content>
    </mat-card>

    <mat-card class="team mat-elevation-z3">
      <mat-card-title class="title">cheq</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Programador
      </mat-card-subtitle>
      <img mat-card-image
        src="https://cdn.discordapp.com/avatars/339273010999459842/13c37ccc73565b8850c8c40263f44042.webp" alt="avatar">
      <mat-card-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </mat-card-content>
    </mat-card>

    <mat-card class="team mat-elevation-z3">
      <mat-card-title class="title">cheq</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Programador
      </mat-card-subtitle>
      <img mat-card-image
        src="https://cdn.discordapp.com/avatars/339273010999459842/13c37ccc73565b8850c8c40263f44042.webp" alt="avatar">
      <mat-card-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </mat-card-content>
    </mat-card>
  </div>
</div>
