.team {
    margin: 15px;
}

mat-card {
    min-width: 190px;
    background-color: #222831;
}

mat-card-title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}

mat-card-subtitle {
    color: #e8e8e8;
}

.team .header {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 4fr;
}

.team .spinner {
    text-align: center;
}

.team .list {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.team .list mat-card {
    width: 190px;
}

.team .list mat-card img {
    width: 222px;
    height: 233px;;
}

.off {
    text-align: center;
    color: #f05454;
}

@media (max-width: 1022px) {
    .team .header {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
    }
    
    .team .list {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .team .list img {
        width: 222px;
        height: 233px;
    }
  }

  @media (max-width: 830px) {
    .team .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    .team .list {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .team .list img {
        width: 222px;
        height: 233px;;
    }
  }