<div class="classes">

    <div class="list">
        <mat-card class="team mat-elevation-z3">
            <mat-card-title>
                Andrômeda
            </mat-card-title>
            <mat-card-subtitle>
                Trovão
            </mat-card-subtitle>
            <img mat-card-image src="../../assets/classes/shun.png">
            <mat-card-content>
                Shiryu é foda
            </mat-card-content>
        </mat-card>

        <mat-card class="team mat-elevation-z3">
            <mat-card-title>
                Cisne
            </mat-card-title>
            <mat-card-subtitle>
                Água
            </mat-card-subtitle>
            <img mat-card-image src="../../assets/classes/hyoga.png">
            <mat-card-content>
                Shiryu é foda
            </mat-card-content>
        </mat-card>

        <mat-card class="team mat-elevation-z3">
            <mat-card-title>
                Dragão
            </mat-card-title>
            <mat-card-subtitle>
                Terra
            </mat-card-subtitle>
            <img mat-card-image src="../../../assets/classes/shiryu.png">
            <mat-card-content>
                Shiryu é foda
            </mat-card-content>
        </mat-card>

        <mat-card class="team mat-elevation-z3">
            <mat-card-title>
                Dragão Marinho
            </mat-card-title>
            <mat-card-subtitle>
                Água
            </mat-card-subtitle>
            <img mat-card-image src="../../assets/classes/kanon.jpg">
            <mat-card-content>
                Shiryu é foda
            </mat-card-content>
        </mat-card>

        <mat-card class="team mat-elevation-z3">
            <mat-card-title>
                Fênix
            </mat-card-title>
            <mat-card-subtitle>
                Fogo
            </mat-card-subtitle>
            <img mat-card-image src="../../assets/classes/ikki.png">
            <mat-card-content>
                Shiryu é foda
            </mat-card-content>
        </mat-card>

        <mat-card class="team mat-elevation-z3">
            <mat-card-title>
                Pégaso
            </mat-card-title>
            <mat-card-subtitle>
                Vento
            </mat-card-subtitle>
            <img mat-card-image src="../../assets/classes/seiya.png">
            <mat-card-content>
                Shiryu é foda
            </mat-card-content>
        </mat-card>

        <mat-card class="team mat-elevation-z3">
            <mat-card-title>
                Wyvern
            </mat-card-title>
            <mat-card-subtitle>
                Terra
            </mat-card-subtitle>
            <img mat-card-image src="../../assets/classes/wyvern.png">
            <mat-card-content>
                Shiryu é foda
            </mat-card-content>
        </mat-card>
    </div>
</div>