<mat-card>
    <mat-card-title>
        Downloads disponíveis
    </mat-card-title>
    <mat-card-content>
        <p>
            <strong>
                <a href="https://www.mediafire.com/file/1c6g98xq2q943w0/CDZUltimate.rar/file" target="_blank">Launcher (Media Fire)</a>
            </strong>
        </p>
        <p>
            <strong>
                <a href="https://drive.google.com/u/0/uc?id=12eKB7OayD_A9jb1UTAjRQrAHeuZijtOl&export=download" target="_blank">Launcher (Google Drive)</a>
            </strong>
        </p>
        <p>
            <strong>
                <a href="https://drive.google.com/file/d/1376_fhGkik9jpEQ5uxcbPo5pogUNLbfT/view" target="_blank">Launcher (Torrent)</a>
            </strong>
        </p>
        <p>
            <strong>
                <a href="https://drive.google.com/file/d/15To2l-kFE0JqzMreSPHveTOISYRfkY26/view" target="_blank">Jogo (Torrent)</a>
            </strong>
        </p>
        <p>
            <strong>
                <a href="https://www.win-rar.com/start.html?&L=9" target="_blank">Winrar</a> ou <a href="https://www.7-zip.org/download.html">7zip</a> para descompactar
            </strong>
        </p>
        <div>
            <p>
                Versão: 2015
            </p>
            <p>
                Tamanho do Jogo: ~12 GB
            </p>
        </div>
    </mat-card-content>
</mat-card>