<mat-card>
    <mat-card-title>
        Downloads disponíveis
    </mat-card-title>
    <mat-card-content>
        <p>
            <strong>
                <a href="https://www.mediafire.com/file/ozf74k5i9pgz7dy/CDZUltimate1.rar.torrent/file" target="_blank">Jogo (Media Fire [Torrent])</a>
            </strong>
        </p>
        <p>
            <strong>
                <a href="https://drive.google.com/file/d/1urgmhUAOiAaiPurT-stYl9860kORN3ss/view" target="_blank">Launcher (atualização manual)</a>
            </strong>
        </p>
        <p>
            <strong>
                <a href="https://www.win-rar.com/start.html?&L=9" target="_blank">Winrar</a> ou <a href="https://www.7-zip.org/download.html">7zip</a> para descompactar
            </strong>
        </p>
        <div>
            <p>
                Versão: 2015
            </p>
            <p>
                Tamanho do Jogo: ~12 GB
            </p>
        </div>
    </mat-card-content>
</mat-card>