/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e8e8e8; }

mat-card-title {
    color: #222831;
    text-align: center;
}

mat-card-subtitle {
    color: #30475e;
    font-size: 1.1rem;
    text-align: center;
}

mat-card-content {
    color: #30475e;
}

.red {
    color: #f05454;
}

.msg-success {
    background-color: #28a745;
    color: #fff;
}

.msg-error {
    background-color: #e35e6b;
    color: #fff;
}