mat-card {
    text-align: center;
    background-color: #222831;
}

mat-card-title {
    font-size: 3rem;
    font-weight: 300;
}

mat-card-subtitle {
    font-size: 1.1rem;
    color: #e8e8e8;
}

mat-card-content {
    text-align: left;
}

.label {
    font-weight: bold;
    display: block;
}