<mat-card class="team mat-elevation-z3">
  <mat-card-title>Regras Gerais</mat-card-title>
  <mat-card-subtitle>
    <p>Regras de convívio que servem para todos os ambientes que envolvem o CdZ Ultimate, especialmente o jogo.</p>
    <p>Faz-se necessário que todos os consumidores leiam as regras antem de utilizarem do nosso produto.</p>
  </mat-card-subtitle>
  <mat-card-content>
    <span class="label red">ATENÇÂO!!! As regras em questão podem mudar a qualquer momento, fiquem atentos a essa
      página!</span>
    <br>

    <span class="label">Existem 3 (três) formas de punição dentro do jogo:</span>
    <ol>
      <li>Aviso verbal: será anotado o nick do jogador infrator.</li>
      <li>Suspensão parcial do player: o mesmo terá sua conta banida por um prazo estimado pela staff podendo variar de
        minutos, horas ou dias.</li>
      <li>Expulsão: caso o infrator seja reincidente duas ou mais vezes em seus delitos no jogo sua conta será levada
        para votação para que seja expulsa ou não do server, o jogador poderá recorrer no dia do julgamento. Caso seja
        expulso, o mesmo não terá reembolso de valores gastados.</li>
    </ol>

    <span class="label">O que diz respeito ao consumidor do produto:</span>
    <ol>
      <li>
        Doação não fará com que o jogador tenha privilégios no jogo, fica a critério de cada indivíduo doar ou não.
      </li>
      <li>
        A classificação indicada para consumidores desse produto é para maiores de 10 anos sob supervisão dos pais.
      </li>
      <li>
        As doações disponibilizarão alguns benefícios que serão ainda combinados pela staff e apoiadores iniciais do
        projeto.
      </li>
      <li>
        O cash terá um valor base de: (a acertar ainda com a equipe).
      </li>
      <li>
        Nunca repasse sua senha ou login para ninguém, a equipe Ultimate não se responsabilizará por esse tipo de
        atividade.
      </li>
      <li>
        Qualquer bug encontrado in-game deve ser reportado no discord Utimate (link aqui) para que possa ser
        resolvido.
      </li>
      <li>
        Aproveitar-se de bug in-game para beneficio próprio, de uma equipe ou guilda é passível de punição.
      </li>
      <li>
        Não nos responsabilizamos por nenhuma atitude feita por player fora ou dentro de game.
      </li>
      <li>
        Caso se sinta tontura ou mal estar, saia imediatamente do jogo e procure um médico!
      </li>
    </ol>

    <span class="label">O que diz respeito a convivência do jogador para com outros in-game:</span>
    <ol>
      <li>
        Ofensas preconceituosas ou com alguma discriminação pessoal, social ou xenofóbica será advertida e caso
        reincidente, sofrerá punição.
      </li>
      <li>PK (Player Kill) faz parte da mecânica de jogo, está liberada a vontade. Haverá regras de impedimento de PK
        com jogadores de níveis baixos, ainda a ser divulgado aqui.</li>
      <li>
        O chat do jogo é livre, portanto é permitido ao jogador digitar o que quiser, desde que seja respeita a regra
        1 deste tópico.
      </li>
      <li>
        Acusações contra jogadores será necessária a apresentação de prints da tela de jogo. Fotos ou imagens cortadas
        não serão aceitas.
      </li>
      <li>
        Não será considerado anti-jogo o "furto" de boss em área onde é permitido PK.
      </li>
    </ol>

    <span>Fiquem atentos, mais regras serão adicionadas em breve.</span>
  </mat-card-content>
</mat-card>
